name: workflow_dispatch
permissions:
  actions: read
  contents: read
  security-events: write
  statuses: write

on:
  push:
    branches: none # [ main ]
  pull_request:
    branches: none # [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  call-workflow-A:
    uses: VishwajitNagulkar/kubernetes-shared-workflows/.github/workflows/k8scalled.yml@master
    with:
      aws-region: us-east-2
      helm-chart-directory: helloworld
      eks-cluster-name: test3-dev3-cluster
      # namespace: test4
      release-name: myrelease

    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
