name: workflow_call_A

on:
  workflow_call:
    inputs:
      # user:
      #   required: true
      #   type: string
      # images:
      #   required: true
      #   type: string
      aws-region:
        required: true
        type: string
      namespace:
        required: false
        type: string
      # ECR_REPOSITORY:
      #   required: true
      #   type: string
      # registry:
      #   required: true
      #   type: string
      # IMAGE_TAG:
      #   required: true
      #   type: string
      eks-cluster-name:
        required: true
        type: string
      helm-chart-directory:
        required: true
        type: string
      release-name:
        required: true
        type: string
    secrets:
      aws-access-key-id:
        description: 'aws access keys'
        required: true
      aws-secret-access-key:
        description: 'aws secret access keys'
        required: true
jobs:
  build-image:
    name: Build Images
    runs-on: ubuntu-latest

    steps:

      - name: Checkout git repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: ${{ inputs.aws-region }}

      - name: Update Kubeconfig
        run: |
          aws eks --region ${{ inputs.aws-region }} update-kubeconfig --name ${{ inputs.eks-cluster-name }}
          aws eks update-kubeconfig --name ${{ inputs.eks-cluster-name }}

      - name: helm lint
        run: |
          helm lint ${{ inputs.helm-chart-directory }}


      - name: helm template
        run: |
          helm template ${{ inputs.helm-chart-directory }}

      - name: helm install and upgrade
        if: ${{ inputs.namespace }} == true
        run: |
          if [ -n "${{ inputs.namespace }}" ]; then
            helm upgrade --install ${{ inputs.release-name }} ${{ inputs.helm-chart-directory }} -n ${{ inputs.namespace }}
          else
            helm upgrade --install ${{ inputs.release-name }} ${{ inputs.helm-chart-directory }}
          fi













